@model AviaCo.Models.CHARTER

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CHARTER</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input type="hidden" asp-for="CHAR_TRIP" />
        <div class="form-group">
            <label asp-for="AC_NUMBER" class="control-label col-md-2">AC_NUMBER</label>
            <div class="col-md-10">
                <select asp-for="AC_NUMBER"  class="form-control" />
                <span asp-validation-for="AC_NUMBER" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_DATE" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_DATE" class="form-control" />
                <span asp-validation-for="CHAR_DATE" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_DESTINATION" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_DESTINATION" class="form-control" />
                <span asp-validation-for="CHAR_DESTINATION" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_DISTANCE" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_DISTANCE" class="form-control" />
                <span asp-validation-for="CHAR_DISTANCE" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_FUEL_GALLONS" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_FUEL_GALLONS" class="form-control" />
                <span asp-validation-for="CHAR_FUEL_GALLONS" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_HOURS_FLOWN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_HOURS_FLOWN" class="form-control" />
                <span asp-validation-for="CHAR_HOURS_FLOWN" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_HOURS_WAIT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_HOURS_WAIT" class="form-control" />
                <span asp-validation-for="CHAR_HOURS_WAIT" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CHAR_OIL_QTS" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CHAR_OIL_QTS" class="form-control" />
                <span asp-validation-for="CHAR_OIL_QTS" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CUS_CODE" class="control-label col-md-2">CUS_CODE</label>
            <div class="col-md-10">
                <select asp-for="CUS_CODE" class="form-control" />
                <span asp-validation-for="CUS_CODE" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
