<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Add Movie</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

</head>

<body>
	<form action="/add_movie" method="POST">


		<div class="row">
		</div>

		<div class="center">


			<div class="row">
				<div class="input-field col s6">
					<input placeholder="title" id="title"  name="title" type="text" class="validate" required>
					<label for="title">Title</label>
				</div>
			</div>



			<div class="row">
				<div class="input-field col s6">
					<input placeholder="year" id="title" name="year" type="text" class="validate" required>
					<label for="year">Year</label>
				</div>
			</div>


			<div class="row">
				<div class="input-field col s6">
					<input placeholder="imdb" id="title" name="imdb" type="text" class="validate" required>
					<label for="imdb">IMDB</label>

				</div>
			</div>


			<div class="row">
				<div class="input-field col s6">

					<input type="submit" value="Submit" class="waves-effect waves-light btn" />

				</div>
			</div>
		</div>

	</form>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</body>

</html>